<template>
    <b-container class="mt-5">
        <b-row>
            <b-col md="7">
                <cart-summary />
            </b-col>
            <b-col md="5">
                <cart-review />
            </b-col>

        </b-row>
    </b-container>
</template>

<script>
import CartSummary from '@/views/components/cart/CartSummary.vue'
import CartReview from '@/views/components/cart/CartReview.vue'
export default {
    components: { CartSummary, CartReview },
    mounted() {
        const breadcrumbItems = [
            { label: 'Home', to: '/' },
            { label: 'Cart', to: '/cart' },
            { label: 'Checkout', to: '/cart/checkout' },
        ];

        this.$store.dispatch('updateBreadcrumb', breadcrumbItems);
    },
}
</script>

<style></style>