<template>
    <b-container class="mt-5 cart">
        <b-row v-if="getCartItems.length > 0">
            <b-col md="8">
                <CartList />
            </b-col>
            <b-col md="4">
                <CartTotal />
            </b-col>
        </b-row>
        <div v-else>
            <p class="tile">
                There are no items in the cart.
            </p>
            <b-button @click="goShopping" class="my-custom-button">
                Go shopping now
            </b-button>
        </div>
    </b-container>
</template>
  
<script>
import CartList from '@/views/components/cart/CartList.vue';
import CartTotal from '@/views/components/cart/CartTotal.vue';

import { mapGetters } from 'vuex';

export default {
    components: {
        CartTotal,
        CartList
    },
    computed: {
        ...mapGetters(['getCartItems']),
    },
    methods: {
        goShopping() {
            this.$router.push('/');
        }
    },
    mounted() {
        const breadcrumbItems = [
            { label: 'Home', to: '/' },
            { label: 'Cart', to: '/cart' },
        ];

        this.$store.dispatch('updateBreadcrumb', breadcrumbItems);
    },
};
</script>
<style scoped>
.cart {
    min-height: 100vh;
}

.tile {
    font-weight: bold;
    font-size: 25px;
    color: black;
}
</style>
  