<template>
    <div class="thank-you-page d-flex flex-column align-items-center justify-content-center">
        <div class="text-center">
            <b-icon icon="check-circle" variant="success" font-scale="4"></b-icon>
            <h2>Thank you for your purchase!</h2>
            <p>We greatly appreciate your support.</p>

            <b-button @click="redirectToHome" class="my-custom-button">Continue Shopping</b-button>
        </div>
    </div>
</template>
  
<script>
export default {
    methods: {
        redirectToHome() {
            this.$router.push('/')
        },
    },
    mounted() {
        const breadcrumbItems = [
            { label: 'Home', to: '/' },
            { label: 'Thankyou', to: '/thank-you' },
        ];

        this.$store.dispatch('updateBreadcrumb', breadcrumbItems);
    },
};
</script>
  
<style scoped>
.thank-you-page {
    height: 60vh;
}
</style>
  