<template>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb custom-breadcrumb">
                <li class="breadcrumb-item" v-for="(item, index) in breadcrumbItems" :key="index">
                    <router-link :to="item.to">{{ item.label }}</router-link>
                </li>
            </ol>
        </nav>
    </div>
</template>
  
<script>
export default {
    computed: {
        breadcrumbItems() {
            return this.$store.state.breadcrumb.items;
        },
    },
};
</script>
  
<style>
.custom-breadcrumb {
    background-color: inherit !important;
}
</style>
  