<template>
    <div class="mb-5">
        <div class="box-custom mb-3">
            <p class="title">ADD DETAILED INFORMATION:</p>
            <b-form @submit.stop.prevent="onSubmit" class="text-left" v-if="show">
                <b-form-group id="input-group-2" label="Name:" label-for="input-2">
                    <b-form-input name="input-name" id="input-name" :state="validateState('input-name')"
                        v-validate="{ required: true }" v-model="form.name" data-vv-as="Name">
                    </b-form-input>
                    <b-form-invalid-feedback id="input-2-live-feedback">{{ veeErrors.first('input-name')
                    }}</b-form-invalid-feedback>

                </b-form-group>

                <b-form-group id="input-group-1" label="Email:" label-for="input-1">
                    <b-form-input name="input-1" id="input-1" v-model="form.email" type="email">
                    </b-form-input>
                </b-form-group>

                <b-form-group id="input-group-3" label="Phone Number:" label-for="input-3">
                    <b-form-input name="input-phone" v-validate="{ required: true }" id="input-phone"
                        :state="validateState('input-phone')" v-model="form.phoneNumber"
                        data-vv-as="Phone number"></b-form-input>
                    <b-form-invalid-feedback id="input-3-live-feedback">{{ veeErrors.first('input-phone')
                    }}</b-form-invalid-feedback>
                </b-form-group>

                <b-form-group id="input-group-5" label="Street:" label-for="input-5">
                    <b-form-input v-validate="{ required: true }" name="input-street" :state="validateState('input-street')"
                        id="input-street" v-model="form.streetName" data-vv-as="Street"></b-form-input>
                    <b-form-invalid-feedback id="input-5-live-feedback">{{ veeErrors.first('input-street')
                    }}</b-form-invalid-feedback>
                </b-form-group>

                <b-form-group id="input-group-6" label="Ward / Commune:" label-for="input-6">
                    <b-form-input name="Ward / Commune" :state="validateState('Ward / Commune')" id="input-6"
                        v-validate="{ required: true }" v-model="form.wardOrCommune"></b-form-input>
                    <b-form-invalid-feedback id="input-7-live-feedback">{{ veeErrors.first('Ward / Commune')
                    }}</b-form-invalid-feedback>
                </b-form-group>

                <b-form-group id="input-group-7" label="Province / City:" label-for="input-7">
                    <b-form-input name="Province / City" :state="validateState('Province / City')" id="input-7"
                        v-validate="{ required: true }" v-model="form.provinceOrCity"></b-form-input>
                    <b-form-invalid-feedback id="input-7-live-feedback">{{ veeErrors.first('Province / City')
                    }}</b-form-invalid-feedback>
                </b-form-group>

                <hr>
                <b-form-textarea id="textarea" placeholder="Enter order notes" v-model="form.note" rows="3" max-rows="6">
                </b-form-textarea>
            </b-form>
        </div>
        <div class="box-custom">
            <p class="title">PAYMENT METHOD:</p>
            <div class="container mt-5">
                <div class="custom-radio">
                    <input type="radio" id="radio1" name="radioGroup" v-model="paymentMethodOption" value="1">
                    <label for="radio1" :class="{ 'active': paymentMethodOption == 1 }">
                        <div class="payment-method">
                            <p class="m-0"> Pay on delivery</p>
                            <b-icon icon="currency-dollar"></b-icon>
                        </div>
                    </label>
                </div>
                <div class="custom-radio">
                    <input type="radio" id="radio2" name="radioGroup" v-model="paymentMethodOption" value="2">
                    <label for="radio2" :class="{ 'active': paymentMethodOption == 2 }">
                        <div class="payment-method">
                            <p class="m-0">Credit Card</p>
                            <b-icon icon="credit-card2-back-fill"></b-icon>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="mt-3 tex-center">
            <button @click="onSubmit()" class="my-custom-button w-100">Place order</button>
        </div>
    </div>
</template>
  
<script>
export default {
    data() {
        return {
            form: {
                email: '',
                name: '',
                streetName: '',
                wardOrCommune: '',
                provinceOrCity: '',
                phoneNumber: '',
                note: '',
            },
            paymentMethodOption: 1,
            show: true
        }
    },
    methods: {
        validateState(ref) {
            if (
                this.veeFields[ref] &&
                (this.veeFields[ref].dirty || this.veeFields[ref].validated)
            ) {
                return !this.veeErrors.has(ref);
            }
            return null;
        },
        onSubmit() {
            this.$validator.validateAll().then(result => {
                if (!result) {
                    return;
                }
                this.$router.push('/thank-you');
                this.$store.dispatch('orderCart');
            });

        },

    }
}
</script>

<style scoped>
.title {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: black;
}

.custom-radio {
    position: relative;
}

.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-radio label {
    display: block;
    padding: 7px 12px;
    border-radius: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.custom-radio label.active {
    background-color: #333;
    color: #fff;
}

.custom-radio label:not(.active) {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

.payment-method {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
</style>