<template>
    <div class="box-custom">
        <p class="amount-roduct">{{ amountProduct }} </p>
        <hr>
        <p class="text-left title">Do you have any discount code?</p>
        <b-row>
            <b-col md="8">
                <b-form-input v-model="disCountCode" placeholder="Enter discount code"></b-form-input>
            </b-col>
            <b-col>
                <button class="my-custom-button w-100">Apply</button>
            </b-col>
        </b-row>
        <hr>
        <div class="d-flex justify-content-between">
            <p class="text-left mb-2">
                Total order amount
            </p>
            <p class="text-right mb-2">
                ${{ totalOrderAmount }}
            </p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="text-left mb-2">
                Shipping fee
            </p>
            <p class="text-right mb-2">
                ${{ shippingFee }}
            </p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="text-left mb-2 title">
                Total payment
            </p>
            <p class="text-right mb-2 title">
                ${{ totalOrderAmount + shippingFee }}
            </p>
        </div>
        <hr>
        <button @click="handlePayment()" class="my-custom-button w-100">
            <div class="d-flex justify-content-around">
                <p class="text-left mb-0 ">
                    Payment
                </p>
                <p class="text-right mb-0 ">
                    ${{ totalOrderAmount + shippingFee }}
                </p>
            </div>
        </button>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    data() {
        return {
            disCountCode: '',
            shippingFee: 0
        }
    },
    methods: {
        handlePayment() {
            this.$router.push('/cart/checkout');
        }
    },
    computed: {
        ...mapGetters(['getCartItems']),
        amountProduct() {
            return `${this.getCartItems.length} ${this.getCartItems.length > 1 ? 'products' : 'product'}`
        },
        totalOrderAmount() {
            return this.getCartItems.reduce((accumulator, cartItem) => {
                const price = cartItem.is_on_discount ? cartItem.discounted_price : cartItem.original_price
                return accumulator + price * cartItem.quantity
            }, 0)
        }

    },

}
</script>

<style scoped>
.amount-roduct {
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.title {
    font-weight: bold;
    font-size: 15px;
    color: black;
}
</style>