<template>
    <div class="box-custom">
        <table class="table">
            <tbody>
                <cart-item v-for="product in cartProducts" :key="product.id" :product="product"></cart-item>
            </tbody>
        </table>
    </div>
</template>
  
<script>
import CartItem from '@/views/components/cart/CartItem.vue';
import { mapGetters } from 'vuex';

export default {
    components: {
        CartItem,
    },
    data() {
        return {
            cartProducts: [
            ],
        };
    },
    computed: {
        ...mapGetters(['getCartItems']),
    },
    watch: {
        getCartItems: {
            immediate: true,
            deep: true,
            handler(newCartProducts) {
                this.cartProducts = [...newCartProducts];
            },
        },
    },
    methods: {
    },
};
</script>
<style scoped></style>
  