<template>
    <tr>
        <td class="align-middle" width="50%">
            <b-row>
                <b-col md="6" class="px-0">
                    <img :src="getImageURL" :alt="product.name" class="product-image">
                </b-col>
                <b-col md="6" class="d-flex align-items-center px-2 w-100">
                    <div class="text-left d-flex justify-content-center flex-column">
                        <h4 class="front-weight-bold mb-2">{{ product.name }}</h4>
                        <p class="description m-0" @click="toggleCollapse">
                            View Description <span class="description" :class="arrowIconClass"></span>
                        </p>
                        <b-collapse :id="collapseId" v-model="isCollapsed">
                            <p class="m-0 description">{{ this.product.description }}</p>
                        </b-collapse>
                    </div>
                </b-col>
            </b-row>
        </td>
        <td class="align-middle" width="5%">

        </td>
        <td class="align-middle" width="45%">
            <b-row>
                <b-col>
                    <div class="d-flex align-items-center justify-content-center ">
                        <button @click="decreaseQuantity" class="button-quantity me-1">-</button>
                        <input v-model="cartProduct.quantity" class="form-control quantity-input">
                        <button @click="increaseQuantity" class="button-quantity ms-1">+</button>
                    </div>
                </b-col>
                <b-col class="d-flex align-items-center">
                    <p class="m-0  text-center font-weight-bold ">${{ subTotalComputed.toFixed(2) }}</p>
                </b-col>
                <b-col>
                    <b-button @click="showDeleteAlert" variant="light" class="remove-button">
                        <b-icon variant="danger" icon="x"></b-icon>
                    </b-button>
                </b-col>
            </b-row>
            <b-form-textarea size="sm" @change="handlerChangeNote()" v-model="cartProduct.note" class="note-input"
                placeholder="Enter note...">
            </b-form-textarea>
        </td>
    </tr>
</template>

<script>
import Swal from 'sweetalert2';
import {
    makeToastFaile,
    makeToastSuccess,
} from '@/utils/common';
export default {
    props: ['product'],
    data() {
        return {
            cartProduct: {
                note: '',
                quantity: 1,
            },
            isCollapsed: false,
            collapseId: 'descriptionCollapse',
        };
    },
    watch: {
        product: {
            immediate: true,
            deep: true,
            handler(newProduct) {
                const areObjectsEqual = JSON.stringify(this.cartProduct) === JSON.stringify(newProduct);
                if (!areObjectsEqual) {
                    this.cartProduct = { ...newProduct };
                }
            },
        },
    },
    computed: {
        getProductDetails() {
            const productId = this.product.id;
            return this.$store.getters.getProductById(productId);
        },
        getImageURL() {
            return require(`@/assets/${this.product.image_url}`)
        },
        subTotalComputed() {
            const price = this.product.is_on_discount ? this.product.discounted_price : this.product.original_price
            return this.cartProduct.quantity * price
        },
        arrowIconClass() {
            return {
                'arrow-icon': true,
                'arrow-icon-up': !this.isCollapsed,
            };
        },
    },
    methods: {
        handlerChangeNote() {
            this.$store.dispatch('updateCartItem', { id: this.cartProduct.id, note: this.cartProduct.note })
        },
        updateCartItem(cartItemToUpdate) {
            this.$store.dispatch('updateCartItem', cartItemToUpdate);
        },
        decreaseQuantity() {
            this.cartProduct.quantity--;
            if (this.cartProduct.quantity <= 0) {
                this.showDeleteAlert()
            }
            if (this.cartProduct.quantity > 0) {
                this.updateCartItem({ id: this.product.id, quantity: this.cartProduct.quantity })
                this.$store.dispatch('updateProduct', { id: this.product.id, stock_count: this.getProductDetails.stock_count + 1 });
            }
        },
        increaseQuantity() {
            if (this.getProductDetails.stock_count <= 0) {
                makeToastFaile('Inventory is currently out of stock.We will update as soon as new stock is available.')
                return
            }
            this.cartProduct.quantity++;

            this.updateCartItem({ id: this.product.id, quantity: this.cartProduct.quantity })
            this.$store.dispatch('updateProduct', { id: this.product.id, stock_count: this.getProductDetails.stock_count - 1 });

        },
        removeItem() {
            makeToastSuccess('Delete success!')
            this.$store.dispatch('removeCartItem', this.product.id);
        },
        toggleCollapse() {
            this.isCollapsed = !this.isCollapsed;
        },
        showDeleteAlert: function () {
            Swal.fire({
                title: 'DELETE!',
                text: 'Are you sure you want to delete this product?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'rgb(221, 51, 51)',
                cancelButtonColor: '#E5EAEE',
                confirmButtonText: 'Delete',
                cancelButtonText: '<span style="color:#464E5F">Hủy</span>',
                reverseButtons: true,
                showClass: {
                    popup: 'animate__animated animate__fadeInDown',
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp',
                },
            }).then((result) => {
                if (result.dismiss != 'cancel') {
                    this.removeItem()
                    this.$store.dispatch('updateProduct', { id: this.product.id, stock_count: this.getProductDetails.stock_count + 1 });
                }
            });
        },
    },
};
</script>

<style scoped>
.row {
    flex-wrap: nowrap;
}

.button-quantity {
    border-radius: 50%;
    border: 2px #ff6b80 solid;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 19px;
    font-weight: bold;
    background-color: whitesmoke;
    ;
}

.font-weight-bold {
    font-weight: bold;
}

.table td {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
}

.arrow-icon {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border: solid;
    border-width: 0 3px 5px 3px;
    border-color: transparent transparent #000 transparent;
    transition: transform 0.3s;
}

.arrow-icon-up {
    transform: rotate(180deg);
}

.product-image {
    width: 100%;
    max-width: 180px;
    max-height: 180px;
}

h4 {
    color: #ff6b80;
    font-size: 18px;
    font-weight: bold;
}

thead {
    border-bottom: 2px #ff6b80 solid;
}

.text-left {
    text-align: left;
}

.quantity-input {
    width: 40px;
    text-align: center;
    border: none;
    color: #000;
    font-weight: bold;
    padding: 0px;
}

.description {
    color: gray;
    font-size: 12px;
}

.note-input {
    height: 50px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #dee2e6;
}

.remove-button {
    padding: 0.25rem 0.5rem;
}
</style>
  