<template>
    <!-- <div class="relative-element"> -->
    <div class="box-custom fixed-element">
        <p class="title">ORDER SUMMARY:</p>
        <b-list-group>
            <b-list-group-item v-for="item in getCartItems" :key="item.id">
                <div class="d-flex justify-content-between">
                    <p class="text-left mb-0">
                        {{ item.name }} X {{ item.quantity }}
                    </p>
                    <p class="text-right mb-0">
                        ${{ getPrice(item) * Number(item.quantity) }}
                    </p>
                </div>
            </b-list-group-item>

        </b-list-group>
        <hr>
        <div class="d-flex justify-content-between">
            <p class="text-left mb-2">
                Total order amount
            </p>
            <p class="text-right mb-2">
                ${{ totalOrderAmount }}
            </p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="text-left mb-2">
                Shipping fee
            </p>
            <p class="text-right mb-2">
                ${{ shippingFee || 0 }}
            </p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="text-left mb-2 title">
                Total payment
            </p>
            <p class="text-right mb-2 title">
                ${{ totalOrderAmount + (shippingFee || 0) }}
            </p>
        </div>
        <!-- </div> -->
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    data() {
        return {
            shippingFee: 0
        }
    },
    methods: {
        getPrice(cartItem) {
            return cartItem.is_on_discount ? cartItem.discounted_price : cartItem.original_price
        }
    },
    computed: {
        ...mapGetters(['getCartItems']),
        totalOrderAmount() {
            return this.getCartItems.reduce((accumulator, cartItem) => {
                const price = this.getPrice(cartItem)
                return accumulator + price * cartItem.quantity
            }, 0)
        }
    }

}
</script>

<style scoped>
.title {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: black;
}

.list-group-item {
    padding: 0.3rem .75rem;
}

.fixed-element {
    position: sticky;
    top: 100px;
    right: 0;
    left: 0;
}

.relative-element {
    /* position: relative; */
    width: 100%;
}

.w-20 {
    width: 20%;
}
</style>