<template>
    <div class="container">
        <b-container>
            <b-row>
                <b-col v-for="(product, index) in getProductItems" :key="index" cols="12" sm="6" md="4" lg="3"
                    class="product-list-item">
                    <ProductItem :productInfo="product" />

                </b-col>
            </b-row>
        </b-container>
    </div>
</template>
  
<script>
import { mapGetters } from 'vuex';
import ProductItem from '@/views/components/product/ProductItem.vue'

export default {
    name: "ProductList",
    components: {
        ProductItem,
    },
    data() {
        return {
        };
    },
    mounted() {
        const breadcrumbItems = [
            { label: 'Home', to: '/' },
            { label: 'Products', to: '/products' },
        ];

        this.$store.dispatch('updateBreadcrumb', breadcrumbItems);
    },
    computed: {
        ...mapGetters(['getProductItems']),
        // listProductComputed() {
        //     return this.getProductItems.filter((product) => {
        //         return product.stock_count > 0
        //     })
        // }
    }
};
</script>
  
<style scoped>
.product-list-item {
    margin-bottom: 20px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    margin-top: 10px;
}

.product-item .description {
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item .price {
    font-weight: bold;
}
</style>
  