<template>
    <b-card class="product-small box " :title="productInfo.name" :img-src="getImageURL" img-alt="productInfo.name">
        <div class="product-content">
            <p class="mb-2" v-if="productInfo.is_on_discount">
                <span class="amount">
                    <bdi>${{ productInfo.original_price }}</bdi>
                </span>
                <span class="price color-secondary">${{ productInfo.discounted_price }}</span>
            </p>
            <p class="mb-2" v-else>
                <span class="price color-secondary">${{ productInfo.original_price }}</span>
            </p>
            <button v-if="productInfo.stock_count" @click="addToCart()" class="my-custom-button w-100">Add to Cart</button>
            <p v-else>Hết hàng</p>
        </div>
    </b-card>
</template>
<script>
import {
    makeToastFaile,
    makeToastSuccess,
} from '@/utils/common';
import { mapGetters } from 'vuex';

export default {
    name: "ProductSmallBox",
    props: ['productInfo'],
    computed: {
        ...mapGetters(['getProductItems']),
        getImageURL() {
            return require(`@/assets/${this.productInfo.image_url}`)
        },

    },
    methods: {
        validateProduct() {
            if (this.productInfo.stock_count <= 0) {
                makeToastFaile('Inventory is currently out of stock. We will update as soon as new stock is available.')
                return false
            }

            return true
        },
        addToCart() {
            this.productCount += 1
            const isValid = this.validateProduct()
            if (!isValid) return
            const product = {
                id: this.productInfo.id,
                name: this.productInfo.name,
                image_url: this.productInfo.image_url,
                description: this.productInfo.description,
                original_price: this.productInfo.original_price,
                is_on_discount: this.productInfo.is_on_discount,
                discounted_price: this.productInfo.discounted_price,
                stock_count: this.productInfo.stock_count,
                note: '',
            };
            this.$store.dispatch('addToCart', product);
            this.$store.dispatch('updateProduct', { id: this.productInfo.id, stock_count: this.productInfo.stock_count - 1 });
            makeToastSuccess('Added to cart successfully.')
        },
    },
};
</script>
<style scoped>
.card-body {
    padding: 2px;
}

.product-small.box {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    max-width: 250px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: none;
    height: 370px;
}


.product-small.box img {
    max-width: 100%;
    height: 70%;
    margin-bottom: 0px !important;
    object-fit: contain;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.amount {
    font-size: 14px;
    color: gray !important;
    opacity: 0.6;
    margin-right: 3px;
    text-decoration: line-through;
}

.card-title {
    font-size: 17px;
    color: #8b5a2b !important;
}

.box {
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.product-small.box:hover img {
    transform: scale(1.1);
}

.product-small.box:hover {
    box-shadow: 0px 0px 20px #eaeaea;
}

.product-small.box .price {
    font-weight: bold;
}
</style>
  