/* main.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
#app {
   background-color:  rgb(250, 250, 250);
}
.box-custom {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.position-relative {
    position: relative;
}
.form-control:focus {
    border-color: #ff6b80;
    box-shadow: 0 0 0 0.2rem rgba(255, 105, 180, 0.25); 
}

.color-primary{
    color: #ff3d58 !important;
}
.color-dark{
    color: #888888 !important
}
.background-primary{
    background-color: #ff3d58 !important;
}
.background-dark{
    background-color: #888888 !important;

}
label {
    color: black;
    font-weight:bold
}
.my-custom-button {
    background-color: #ff3d58;
    color: #fff;
    border: none !important;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 10px;
    transition: all .3s;
}


.my-custom-button:hover {
    background-color: #ff0040;
}