<template>
  <div id="app">
    <header-layout></header-layout>
    <breadcrumb-layout />
    <router-view />
  </div>
</template>
<script>
import HeaderLayout from "@/views/layout/header/Header.vue";
import BreadcrumbLayout from '@/views/layout/breadcrumb/BreadcrumbLayout.vue';
export default {
  components: {
    HeaderLayout,
    BreadcrumbLayout,
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #ff6b80;
}
</style>
