<template>
    <b-navbar toggleable="lg" class="navbar-custom px-5">
        <b-navbar-brand to="/" class="navbar-brand-custom">Shop Cake</b-navbar-brand>

        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <b-collapse id="nav_collapse" is-nav>
            <header-left />
            <header-right />
        </b-collapse>
    </b-navbar>
</template>
  
<script>
import HeaderRight from "@/views/layout/header/HeaderRight.vue";
import HeaderLeft from "@/views/layout/header/HeaderLeft.vue";


export default {
    components: { HeaderLeft, HeaderRight },
    name: 'HeaderLayout',
    data() {
        return {
            cartItems: 0,
        };
    },
};
</script>
  
<style >
.navbar-custom {
    padding: 10px 20px;
    background-color: rgba(255, 240, 230, 0.8);
}

.nav-item-custom a {
    color: black !important;
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #ff3d58 !important;
}

.navbar-brand {
    color: #ff3d58 !important;
    font-size: 2rem !important;
    font-weight: bold;
}

.nav-item-custom {
    padding: 0 10px;
}

.nav-item-custom a {
    color: #000;
    font-weight: bold;

    transition: color 0.2s;
}

.nav-item-custom a:hover {
    color: #ff0040;
}

.navbar-brand-custom {
    cursor: pointer;
}

.nav-link .b-icon.bi {
    font-size: 170% !important;
    color: #ff3d58
}

.nav-link .b-icon.bi:hover {
    color: #ff0040;

}
</style>
  