<template>
    <b-navbar-nav class="w-100 justify-content-end">
        <b-nav-item>
            <b-form-input size="sm" placeholder="Search" class="d-flex"></b-form-input>
        </b-nav-item>
        <b-nav-item class="me-3">
            <b-button size="sm" class="my-2 my-sm-0 my-custom-button" type="submit">Search</b-button>
        </b-nav-item>
        <b-nav-item class="mr-3 position-relative">
            <b-icon icon="heart"></b-icon>
            <span class="badge"> 1</span>
        </b-nav-item>
        <b-nav-item to="/cart" class="mr-3 position-relative">
            <b-icon icon="cart-fill"></b-icon>
            <span class="badge">{{ this.getCartItems.length || 0 }}</span>
        </b-nav-item>
    </b-navbar-nav>
</template>
  
<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters(['getCartItems']),
    }
};
</script>
  
<style scoped>
.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    min-width: 16px;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #ff6b80;
    border-radius: 50%;
}
</style>
  