<template>
    <b-navbar-nav>
        <b-nav-item to="/products" class="nav-item-custom">
            Products
        </b-nav-item>
        <b-nav-item to="/about" class="nav-item-custom">
            About
        </b-nav-item>
        <b-nav-item class="nav-item-custom">
            Shop
        </b-nav-item>
    </b-navbar-nav>
</template>
  
<script>
export default {
    data() {
        return {
            activeItem: null,
        };
    },
    methods: {
    },
};
</script>
  
<style></style>
  